{% if csrf_token is not defined %}
	{% set csrf_token = render(controller('SopinetTemplateSbadmin2Bundle:Default:getToken')) %}
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
	<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
	
    {% if (redirect is defined) %}
    	<input type="hidden" name="_redirect" id="redirect" value="{{ redirect }} "/>
    {% endif %}	
   	{% if error %}
    	<div class="help-block">{{ error|trans({}, 'FOSUserBundle') }}</div>
	{% endif %}
	
	<div class="form-group">
		<input type="text" id="username" value="{{ last_username }}" name="_username" placeholder="{{ "Login.username"|trans }}" class="form-control" required="required" autofocus />
	</div> <!-- /form-group -->
		
	<div class="form-group">
		<input type="password" id="password" value="" name="_password" placeholder="{{ "Login.password"|trans }}" class="form-control" required="required" />
	</div> <!-- /password -->
	
			{#<a href="{{ hwi_oauth_login_url('facebook') }}">Connect with Facebook</a>#}
	
	<div class="login-actions">
							
		<button class="login-action btn btn-lg btn-success btn-block" name="submitLogin">{{ "Login.signin"|trans }}</button>
		
	</div> <!-- .actions -->
	
	<!-- 
	<div class="login-social">
		<p>Sign in using social network:</p>
		
		<div class="twitter">
			<a href="#" class="btn_1">Login with Twitter</a>				
		</div>
		
		<div class="fb">
			<a href="#" class="btn_2">Login with Facebook</a>				
		</div>
=======
	<div class="form-group">
		<button class="btn btn-lg btn-success btn-block">{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}</button>
>>>>>>> 692a73e8f9220058e40211a1ace10e4ff4b702bc
	</div>
	<hr>
	<div class="form-group">		
		<a href="{{ hwi_oauth_login_url('google') }}" class="btn btn-block btn-social btn-google-plus">
		
			<i class="fa fa-google-plus"></i> Sign in with Google
        </a>
    </div>-->
    <!--
    <div class="form-group">
		{#<a href="{{ hwi_oauth_login_url('facebook') }}" class="btn btn-block btn-social btn-facebook">#}
		<a href="#" class="btn btn-block btn-social btn-facebook">
        	<i class="fa fa-facebook"></i> Sign in with Facebook
       	</a>
    </div>-->
</form>
</div>
<div class="panel-footer">
	<a href="{{ path('fos_user_registration_register') }}">¿No tienes cuenta?</a>
	
	<a class="pull-right" href="{{ path('fos_user_resetting_request') }}">¿Olvidaste la contraseña?</a>