{% set url_preferences = base_url ~ "/panel/settings" %}
{% set url_panel = base_url ~ "/panel" %}
{% set url_license = "http://trazeo.es/condiciones-generales-de-uso/" %}
			</td>
		</tr>
		<tr>
			<td>
				</table>
				<table bgcolor="#ffffff" center style="font-family:Verdana;" cellpadding="5">
					<tr>
						<td>{{ 22|getRandomText }}</td>
					</tr>
				</table>
				<table width="100%" align="center" style="font-family:Verdana;" cellpadding="5">
					<tr>
						<td>
							<span style='font-size: 90%; color:#555'><i>{{ 'footer_email1'|trans|raw }} <a href='{{ url_license }}' target='_blank'>{{ 'terms'|trans|raw }}</a> {{ 'footer_email2'|trans|raw }} <a href=' {{ url_panel }}/profile' target='_blank'>{{ 'profile'|trans|raw }}</a>, {{ 'footer_email3'|trans|raw }} <a href='{{ url_preferences }}/edit' target='_blank'>{{ 'preferences'|trans|raw }}</a><br/>{{ 'footer_email4'|trans|raw }}</i></span>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</body>