{% include 'SopinetTemplateSbadmin2Bundle:Emails:header.html.twig' %}
<table>
    <tr>
        <td>
            {{ 'newuser.hello'|trans|raw }}
        </td>
    </tr>
    <tr style="background-color:#fefffe">
        <td>
            {{ 'newuser.title'|trans|raw }}
        </td>
    </tr>
    <tr>
        <td>
            <dl>
                <dt>{{ 'newuser.list1'|trans|raw }}</dt>
                <dd>{{ 'newuser.list2'|trans|raw }}</dd>
                <dd>{{ 'newuser.list3'|trans|raw }}</dd>
                <dd>{{ 'newuser.list4'|trans|raw }}</dd>
                <dd>{{ 'newuser.list5'|trans|raw }}</dd>
            </dl>
        </td>
    </tr>
    <tr>
        <td>
            <p>{{ 'newuser.text2'|trans|raw }}</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>{{ 'newuser.text3'|trans|raw }}</p>
        </td>
    </tr>
    <tr>
        <td style="font-weight: bold;text-align: center;">
            <!-- CODIGO -->
            {{exchange_code}}
        </td>
    </tr>
    <tr>
        <td>
            <p>{{ 'newuser.text4'|trans|raw }}</p>
        </td>
    </tr>
</table>
{% include 'SopinetTemplateSbadmin2Bundle:Emails:footer.html.twig' %}
