{% include 'SopinetTemplateSbadmin2Bundle:Emails:header.html.twig' %}

<table>
	<tr>
		<td>Tiene nuevas notificaciones en su panel de Trazeo ({{ notifications|length }})</td>
	</tr>
	<tr>
		<a href="http://dev.trazeo.es/panel">Ir a DevTrazeo</a>
	</tr>
</table>

<table>
{% for notification in notifications %}
	{% if loop.index is divisibleby(2) %}
		{% set cebra = '#a3bc09' %}
	{% else %}
		{% set cebra = '#d4d4d4' %}
	{% endif %}	
	<tr style="background-color:{{ cebra }}">
		{% if notification.action == 'group.join.let' %}
			<td><b>{{ notification.user.user.username }}</b>, se ha aceptado su solicitud al grupo <b>{{ notification.objectsid }}(cambiar por nombre)</b>.</td>
			<td width="20%"><button>Ir al grupo</button></td>
		{% elseif notification.action == 'group.join.deny' %}
			<td><b>{{ notification.user.user.username }}</b>, se ha denegado su solicitud al grupo <b>{{ notification.objectsid }}(cambiar por nombre)</b>.</td>
			<td width="20%"><button>Ir al panel</button></td>
		{% else %}
			<td><b>{{ notification.user.user.username }}</b>, el usuario {{ notification.objectsid }}(filtrar email usuario) ha solicitado acceso al grupo <b>{{ notification.objectsid }}(cambiar por nombre)</b> del que eres administrador.</td>
			<td width="20%"><button>Aceptar</button></td>
			<td width="20%"><button>Denegar</button></td>
		{% endif %}
	</tr>
{% endfor %}
</table>

{% include 'SopinetTemplateSbadmin2Bundle:Emails:footer.html.twig' %}